.module.filtered {
    background: none!important;
}

#changelist-filter {
    border: #ccc 1px solid;
}

#hide_filter {
    padding: 12px;
    display: block;
    text-align: center;
    background: #fff;
    font-weight: bold;
    text-transform: uppercase
}

.change-list .filtered .results {
    margin-right: 0!important;
}

#changelist-form .results {
    overflow-x: inherit;
}

